In [1]:
import pandas as pd
import numpy as np

def normalization(data):
    _range = np.max(np.max(abs(data)))
    return data / _range

In [2]:
label = pd.read_csv('../dataset/twomics_phen_group.csv')
label

   sample one_year_r  group
0    n366         re      1
1    n350         re      1
2    n355         re      1
3    n383         re      1
4    n385         re      1
5    n391         re      1
6    n402         re      1
7    n454         re      1
8    n462         re      1
9    n464         re      1
10  n356c         re      1
11  n499c         re      1
12   n389        con      2
13  n389c        con      2
14  n366c        con      2
15   n342        sym      2
16   n353        sym      2
17   n356        sym      2
18   n499        sym      2
19   n337        sym      2
20   n367        sym      2
21   n376        sym      2
22   n378        sym      2
23   n398        sym      2
24  n342c        con      2
25  n353c        con      2
26  n337c        sym      2
27  n367c        sym      2
28  n376c        sym      2
29  n378c        sym      2
30  n398c        sym      2

In [3]:
filtered_dnam = pd.read_csv('../dataset/meth_probe.csv',index_col=0)
filtered_dnam.head()
filtered_dnam = normalization(filtered_dnam)
filtered_dnam.head()

c:\Users\Administrator\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

,n337,n342,n350,n353,n355,n356,n366,n367,n376,n378,...,n378c,n383c,n385c,n389c,n391c,n398c,n454c,n462c,n464c,n499c
cg07881041,0.959342,0.956262,0.958675,0.962803,0.958330,0.963839,0.967472,0.951840,0.958157,0.954474,...,0.958511,0.963800,0.963347,0.954958,0.956893,0.960461,0.950522,0.955762,0.949258,0.965582
cg03513874,0.980761,0.966190,0.969429,0.971532,0.970704,0.967334,0.959952,0.971908,0.968379,0.971957,...,0.983113,0.973495,0.970389,0.973959,0.967060,0.972182,0.964490,0.972578,0.974930,0.981014
cg05451842,0.013544,0.017425,0.012830,0.025681,0.017563,0.013839,0.015717,0.012258,0.019834,0.025331,...,0.016278,0.016155,0.009143,0.015256,0.015526,0.012224,0.020111,0.020078,0.010620,0.017319
cg14797042,0.984340,0.986983,0.990860,0.984491,0.988419,0.984374,0.986284,0.986875,0.989670,0.983082,...,0.992482,0.988633,0.989702,0.988521,0.987727,0.987764,0.984564,0.984270,0.983002,0.985220
cg09838562,0.016246,0.017852,0.009751,0.019077,0.016279,0.007206,0.019557,0.020954,0.021832,0.014611,...,0.017676,0.010903,0.014132,0.012885,0.027665,0.023677,0.025531,0.015414,0.010535,0.007478

In [4]:
edata = pd.read_csv('../dataset/final_TPM.csv',index_col=0)
edata = normalization(edata)
edata.head()

c:\Users\Administrator\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\core\fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

,n337,n342,n346,n348,n349,n350,n353,n354,n355,n356,...,n376c,n378c,n398c,n426c,n429c,n442c,n449c,n457c,n465c,n490c
HBB,0.439366,0.380141,0.471852,0.204295,0.560485,0.550880,0.338831,0.573107,0.251251,0.261868,...,0.612576,0.608627,0.741900,0.467682,0.395174,0.297267,0.374272,0.193300,0.399737,0.478677
HBA2,0.335274,0.199691,0.469837,0.195619,0.448857,0.309105,0.167682,0.782549,0.230920,0.134621,...,0.459809,0.314220,0.452183,0.757391,0.726242,0.393042,0.678027,0.370352,0.653072,1.000000
HBA1,0.133183,0.045158,0.138133,0.094876,0.232016,0.154577,0.049856,0.228502,0.072883,0.053684,...,0.137554,0.099860,0.154230,0.257836,0.402382,0.223035,0.308456,0.129869,0.318893,0.310011
ACTB,0.003511,0.001850,0.003279,0.003536,0.002510,0.003863,0.002842,0.000833,0.003642,0.004233,...,0.002028,0.001988,0.002319,0.002752,0.002608,0.004206,0.003431,0.004370,0.002487,0.001669
MT-CO1,0.012474,0.007095,0.008793,0.014845,0.010023,0.013920,0.013113,0.009675,0.018849,0.020797,...,0.010793,0.014626,0.011486,0.011589,0.011524,0.015421,0.016161,0.025339,0.010614,0.006328

In [5]:
filtered_dnam_T = filtered_dnam.T
edata_T = edata.T
filtered_dnam_T = filtered_dnam_T.reset_index().rename(columns={"index": "sample"})
edata_T = edata_T.reset_index().rename(columns={"index": "sample"})
merged_df = label.merge(filtered_dnam_T, on="sample", how="left")
merged_df = merged_df.merge(edata_T, on="sample", how="left")
merged_df = merged_df.drop(columns=['group'])
merged_df.to_pickle('../dataset/rna-dnam-merge-raw.pkl')
merged_df.head()

,sample,one_year_r,cg07881041,cg03513874,cg05451842,cg14797042,cg09838562,cg25458538,cg09261072,cg02404579,...,RF00019,AC006380.1,AGR3,RHBDF1P1,GAPDHP67,SKOR2,AC007064.2,MAB21L4,AC006328.1,AL080248.1
0,n366,re,0.967472,0.959952,0.015717,0.986284,0.019557,0.975208,0.686440,0.891883,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0
1,n350,re,0.958675,0.969429,0.012830,0.990860,0.009751,0.975918,0.718653,0.901881,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0
2,n355,re,0.958330,0.970704,0.017563,0.988419,0.016279,0.971972,0.691018,0.932405,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000002,0.0
3,n383,re,0.956485,0.971786,0.017026,0.982214,0.014227,0.967617,0.666653,0.900854,...,0.0,0.0,0.0,0.0,0.0,1.800115e-08,0.0,0.0,0.000000,0.0
4,n385,re,0.965497,0.968289,0.015491,0.990840,0.023649,0.968319,0.712608,0.914887,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0

In [6]:
merged_df = pd.read_pickle('../dataset/rna-dnam-merge-raw.pkl')
merged_df.replace('re', 1, inplace=True)
merged_df.replace('sym', 0, inplace=True)
merged_df.replace('con', 0, inplace=True)
merged_df.to_pickle('../dataset/rna-dnam-merge-2class.pkl')
merged_df.head()

,sample,one_year_r,cg07881041,cg03513874,cg05451842,cg14797042,cg09838562,cg25458538,cg09261072,cg02404579,...,RF00019,AC006380.1,AGR3,RHBDF1P1,GAPDHP67,SKOR2,AC007064.2,MAB21L4,AC006328.1,AL080248.1
0,n366,1,0.967472,0.959952,0.015717,0.986284,0.019557,0.975208,0.686440,0.891883,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0
1,n350,1,0.958675,0.969429,0.012830,0.990860,0.009751,0.975918,0.718653,0.901881,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0
2,n355,1,0.958330,0.970704,0.017563,0.988419,0.016279,0.971972,0.691018,0.932405,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000002,0.0
3,n383,1,0.956485,0.971786,0.017026,0.982214,0.014227,0.967617,0.666653,0.900854,...,0.0,0.0,0.0,0.0,0.0,1.800115e-08,0.0,0.0,0.000000,0.0
4,n385,1,0.965497,0.968289,0.015491,0.990840,0.023649,0.968319,0.712608,0.914887,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0

In [8]:
merged_df = pd.read_pickle('../dataset/rna-dnam-merge-raw.pkl')
merged_df.replace('re', 0, inplace=True)
merged_df.replace('sym', 1, inplace=True)
merged_df.replace('con', 2, inplace=True)
merged_df.to_pickle('../dataset/rna-dnam-merge-3class.pkl')
merged_df.head()

,sample,one_year_r,cg07881041,cg03513874,cg05451842,cg14797042,cg09838562,cg25458538,cg09261072,cg02404579,...,RF00019,AC006380.1,AGR3,RHBDF1P1,GAPDHP67,SKOR2,AC007064.2,MAB21L4,AC006328.1,AL080248.1
0,n366,0,0.967472,0.959952,0.015717,0.986284,0.019557,0.975208,0.686440,0.891883,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0
1,n350,0,0.958675,0.969429,0.012830,0.990860,0.009751,0.975918,0.718653,0.901881,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0
2,n355,0,0.958330,0.970704,0.017563,0.988419,0.016279,0.971972,0.691018,0.932405,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000002,0.0
3,n383,0,0.956485,0.971786,0.017026,0.982214,0.014227,0.967617,0.666653,0.900854,...,0.0,0.0,0.0,0.0,0.0,1.800115e-08,0.0,0.0,0.000000,0.0
4,n385,0,0.965497,0.968289,0.015491,0.990840,0.023649,0.968319,0.712608,0.914887,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000,0.0